//COLORS

$color-primary-light: #7ed56f;
$color-primary-dark: #55c57a;

$color-secondary-light: #ffb900; //orange
$color-secondary-dark: #ff7730; //orange

$color-tertiary-light: #2998ff; //orange
$color-tertiary-dark: #5643fa; //orange

$color-tertiary: #28b485;
$color-grey-dark: #777;
$color-white: #eee;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

//FONT

$default-font-size: 1.6rem;

//GRID
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
