
.section__about {
	background-color:$color-grey-light-1;
	padding: 25rem 0;
	margin-top:-25rem; //this is to bring it up so that the grey is all the way through
}

.about-text {
	margin-top: 10rem;
	margin-left: 15rem;
}









// .about-text {
// 	margin-top: 10rem;
// 	margin-left: 15rem;
// }
